* text=auto
*.cpp text
*.h text
*.cc text
*.c text
*.hpp text
*.inl text
*.inc text
*.jam text
*jamfile text
*.py text
*.nut text
*.as text
*.tis text
*.png binary
*.jpg binary
*.wasm binary
*.sh text eol=lf
*.plist text eol=lf

active_matter/prog/gameBase/gamedata/dx12_cache.blk binary
enlisted/prog/gameBase/gamedata/dx12_cache.blk binary
skyquake/prog/gameBase/gamebase/gamedata/dx12_cache.blk binary
